  <!--  Primer paso-->
    <!--Matemarico pdf y password-->
  <!--  Segundo paso-->
    <!--Api pdf -->
    <div class="button-container">
      <div *ngIf="verificacion1==undefined"  style="display: inline-block;">
          <mat-card class="inicial-container" >
              <a [href]="pdf1" target="_blank">
              <img src="./assets/pdf(1).png" class="icon-pdf">
              </a>
              <mat-card-subtitle>Descarga el documento PDF y descubre el password:</mat-card-subtitle>
  
              <form style="display: grid;">
                  <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password">
                  </mat-form-field>
                  
          </form>
          <button mat-raised-button color="primary" (click)="verificar1()">Verificar</button>
          </mat-card>
      </div>
      <div *ngIf="verificacion1==true && verificacion2==undefined" style="display: inline-block;">
        <mat-card class="inicial-container" >
            <a [href]="pdf2"  target="_blank">
            <img src="./assets/pdf(1).png" class="icon-pdf">
            </a>
            <mat-card-subtitle>Descarga el documento PDF y averigua las respuestas:</mat-card-subtitle>
            <button mat-raised-button color="primary" (click)="verificar2()" style="margin-top: 80px;">Siguiente</button>
        </mat-card>
    </div>


      <div *ngIf="verificacion1==true && verificacion2==true" style="display: inline-block;">
          <mat-card class="inicial-container" >
              <div style="text-align: center;margin: 25px;height: 250px; display: grid;">
                  <div style=" margin-top: auto;margin-bottom: auto;">
                      <a [href]="pdf3"  target="_blank">
                          <img src="./assets/pdf(1).png" class="icon-pdf">
                      </a>
                      <mat-card-subtitle>Descarga instrucciones del siguiente paso</mat-card-subtitle>
                  </div>
              </div>
          </mat-card>
      </div>


      <div *ngIf="verificacion1==false" style="text-align: center;margin: 25px;display: inline-block;">
        <mat-card class="inicial-container" >
            <div style="text-align: center;margin: 25px;">
                <mat-label class="label">Chan, respuesta incorrecta volvé a intentar, la página se recargará en 10 seg.</mat-label><br>
                
                <img [src]="error_gif" width="320">
            </div>
        </mat-card>
      </div>
  </div>