

<mat-card>
  <div class="mat-card-img">
    <img class="mat-card-isologo" mat-card-xl-image src="./assets/isologo.JPG" >
  </div>
  <!-- <mat-card-title>Hackathon <b>2022</b> - Instituto Leibnitz.</mat-card-title> -->
  
  <mat-card-content>
    <div *ngIf="paso=='0'">
      <mat-card-subtitle>Seleccione la carrera:</mat-card-subtitle>
      <div class="example-button-row">

          <div class="button-container">
          <mat-card (click)="carrera='AS'; paso='1';"  class="as-container">
            <mat-card-title class="as-title">AS</mat-card-title>
          </mat-card>

          <mat-card (click)="carrera='TSH'; paso='1';" class="tsh-container">
            <mat-card-title class="tsh-title">TSH</mat-card-title>
          </mat-card>
        </div>

      </div>
    </div>
    <div *ngIf="paso=='1' && carrera=='AS'">
      <mat-card-subtitle>Seleccione la dificultad de la carrera {{carrera}}:</mat-card-subtitle>
      <div class="example-button-row">
          <div class="button-container">
            <mat-card class="inicial-container" (click)="dificultad='INICIAL'; paso='2';" *ngIf="carrera=='AS'">
              <div >
                <img mat-card-image src="./assets/icons/baby.png" class="inicial">
              </div>
              <mat-card-title class="inicial-title">1º</mat-card-title>
            </mat-card>
            <mat-card class="basico-container" (click)="dificultad='BASICO'; paso='2';" >
              <div >
                <img mat-card-image src="./assets/icons/coding.png" class="basico">
              </div>
              <mat-card-title class="basico-title">2º</mat-card-title>
            </mat-card>
            <mat-card class="avanzado-container" (click)="dificultad='AVANZADO'; paso='2';" >
              <div >
                <img mat-card-image src="./assets/icons/hacker(1).png" class="avanzado">
              </div>
              <mat-card-title class="avanzado-title">3º</mat-card-title>
            </mat-card>
          </div>
        <!-- <button mat-stroked-button color="primary" style="width: 100%; margin-top: 25px;" (click)="dificultad=''; paso='0';"><mat-icon >arrow_back</mat-icon> Volver</button> -->
      </div>
    </div>


    <div *ngIf="paso=='1' && carrera=='TSH'">
      <mat-card-subtitle>Seleccione la dificultad de la carrera {{carrera}}:</mat-card-subtitle>
      <div class="example-button-row">
          <div class="button-container">

            <mat-card class="basico-container" (click)="dificultad='BASICO'; paso='2';" >
              <div >
                <img mat-card-image src="./assets/icons/electrical-circuit.png" class="basico">
              </div>
              <mat-card-title class="basico-title">BASICO</mat-card-title>
            </mat-card>
            <mat-card class="avanzado-container" (click)="dificultad='AVANZADO'; paso='2';" >
              <div >
                <img mat-card-image src="./assets/icons/pcb-board.png" class="avanzado">
              </div>
              <mat-card-title class="avanzado-title">AVANZADO</mat-card-title>
            </mat-card>
          </div>
        <!-- <button mat-stroked-button color="primary" style="width: 100%; margin-top: 25px;" (click)="dificultad=''; paso='0';"><mat-icon >arrow_back</mat-icon> Volver</button> -->
      </div>
    </div>





    <div *ngIf="paso=='2'">
      <div *ngIf="dificultad=='INICIAL'">
        <app-inicial ></app-inicial>
      </div>
      <div *ngIf="dificultad=='BASICO' && carrera=='AS'">
        <app-basico-AS ></app-basico-AS>
      </div>
      <div *ngIf="dificultad=='BASICO' && carrera=='TSH'">
        <app-basico-TSH ></app-basico-TSH>
      </div>
      <div *ngIf="dificultad=='AVANZADO' && carrera=='AS'">
        <app-avanzado-AS></app-avanzado-AS>
      </div>
      <div *ngIf="dificultad=='AVANZADO' && carrera=='TSH'">
        <app-avanzado-TSH></app-avanzado-TSH>
      </div>
    </div>


  </mat-card-content>


</mat-card>


<footer>
  <div class="footer">
  <!-- <a href="https://www.serlino.com.ar"><img class="img-serlino" src="https://www.serlino.com.ar/wp-content/uploads/2021/03/cropped-logo_blanco_transparente-3.png"></a> -->
  <a href="https://www.serlino.com.ar"><img class="img-serlino" src="./assets/SerLiNo_logo3.png"></a>
  <a href="https://www.binamics.com.ar" style="margin-top: auto;margin-bottom: auto;"><img class="img-binamics" src="https://www.binamics.com.ar/images/logo_pie_2.png"></a>
  </div>
</footer>

