.mat-card-isologo {
    height: 75px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.mat-card-img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    margin-top: 24px;
    border: 1px solid;
    padding-bottom: 22px;
    border-color: transparent transparent #a9a9a9 transparent ;
}
.mat-card{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
    
}
footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.footer{
    display: flex;
    text-align: center;
    width: 500px;
}
@media only screen and (max-width: 600px)  {
    .footer{
        display: grid;
        text-align: center;
        width: 100%;
    }
}
.img-serlino{
    max-height: 75px;
    padding: 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(337deg) brightness(104%) contrast(99%);
}
.img-binamics{
    max-height: 35px;
    padding: 25px;
    width: auto;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    display: block;
    margin-bottom: 0px !important;
}

.example-button-row button,
.example-button-row a {
  margin-right: 25px;
}
.tsh-title, .as-title{
    margin: auto;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    color: #fe681f;
    width: 250px;
    margin-top: auto !important;
    margin-bottom: auto !important;
    height: 107px;
    line-height: 100px;
}
.tsh-container, .as-container{
    box-shadow: none;
    border: 2px dashed #fe681f;
    width: 250px;
    height: 250px;
    display: inherit;
}
.tsh, .as{
    margin: auto;
    padding: 50px 50px 50px 50px;
    width: 250px;
    height: 250px;
}

.button-container{
    display: flex;
    flex-flow: row wrap;
    
}




.inicial-title, .basico-title, .avanzado-title{
    margin: auto;
    font-size: 30px;
    text-align: center;
    color :#fe681f;
}
.inicial-container,.basico-container,.avanzado-container{
    box-shadow: none;
    border: 2px dashed #fe681f;
    width: 250px;
    height: 250px;
    
}
.inicial,.basico,.avanzado{
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 50px 50px 20px 50px;
    filter: invert(50%) sepia(26%) saturate(4121%) hue-rotate(346deg) brightness(101%) contrast(103%);
}