    <!-- Primer paso-->
    <!--  pdf-->
    <!--  password-->

    <!-- Segundo paso-->
    <!--  pdf y json-->


    <!--Aregar password-->
    <div *ngIf="verificacion==undefined">
        <mat-card-subtitle>Descarga el documento <a [href]="pdf1">PDF</a> y descubre el password:</mat-card-subtitle>

        <form style="display: grid;">
            <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password">
            </mat-form-field>
            
      </form>
      <button mat-raised-button color="primary" (click)="verificar()">Verificar</button>
    </div>
    <div *ngIf="verificacion==false" style="text-align: center;margin: 25px;">
        <mat-label class="label">Chan, tenes respuestas incorrectas volvé a intentar, la página se recargará en 10 seg.</mat-label><br>
        <video width="320" height="240" autoplay>
            <source src="./assets/video/failed.mp4" type="video/mp4">
        </video> 
    </div>
    <div *ngIf="verificacion==true">
        <a [href]="pdf2" target="_blank">Descarga instrucciones del siguiente paso</a><br>
        <a [href]="pdf3" target="_blank">Descarga archivo de datos JSON</a>
    </div>


