<div class="button-container">

    <div *ngIf="verificacion1==undefined" style="display: inline-block;">
        <mat-card class="inicial-container">

            <a [href]="pdf1" target="_blank">
            <img src="./assets/pdf(1).png" class="icon-pdf">
            </a>
            <mat-card-subtitle>Descarga el documento PDF y descubre el password:</mat-card-subtitle>

            <form style="display: grid;">
                <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="verificar1()">Verificar</button>
        </mat-card>
    </div>



    <form style="display: grid; text-align: left;" *ngIf="verificacion1==true && verificacion2==undefined">
        <mat-card-subtitle>Para descargar las instrucciones responder con Verdadero-Falso las siguientes afirmaciones</mat-card-subtitle>

        <mat-label class="label">1 - En una operación matemática donde existen distintos tipos de datos (int, double, float), el tipo de datos del resultado es igual al tipo de datos de la primera variable declarada.</mat-label>
        <mat-radio-group color="primary" [(ngModel)]="pregunta1" name="pregunta1" aria-label="Select an option">
            <mat-radio-button value="V">Verdadero</mat-radio-button>
            <mat-radio-button value="F">Falso</mat-radio-button>
        </mat-radio-group>

        <mat-label class="label">2 - Una estructura condicional siempre se  debe abrir y cerrar con llaves &#123;&#125;.</mat-label>
        <mat-radio-group color="primary" [(ngModel)]="pregunta2" name="pregunta2" aria-label="Select an option">
            <mat-radio-button value="V">Verdadero</mat-radio-button>
            <mat-radio-button value="F">Falso</mat-radio-button>
        </mat-radio-group>

        <mat-label class="label">3 - El valor mínimo de un índice de un array es 0.  </mat-label>
        <mat-radio-group color="primary" [(ngModel)]="pregunta3" name="pregunta3" aria-label="Select an option">
            <mat-radio-button value="V">Verdadero</mat-radio-button>
            <mat-radio-button value="F">Falso</mat-radio-button>
        </mat-radio-group>

        <mat-label class="label">4 - El nombre de una variable declarada dentro de una estructura condicional no  puede ser utilizada nuevamente, sin importar si ya finalizó el contexto donde se declaró. </mat-label>
        <mat-radio-group color="primary" [(ngModel)]="pregunta4" name="pregunta4" aria-label="Select an option">
            <mat-radio-button value="V">Verdadero</mat-radio-button>
            <mat-radio-button value="F">Falso</mat-radio-button>
        </mat-radio-group>
        
        <mat-label class="label">5 - En una función que no es tipo void se debe retornar un valor sí o sí.</mat-label>
        <mat-radio-group color="primary"[(ngModel)]="pregunta5" name="pregunta5" aria-label="Select an option">
            <mat-radio-button value="V">Verdadero</mat-radio-button>
            <mat-radio-button value="F">Falso</mat-radio-button>
        </mat-radio-group>
        
        <mat-label class="label">6 - El nombre de una función se puede repetir, siempre y cuando no reciba la misma cantidad de parámetros con los mismos tipos de datos.</mat-label>
        <mat-radio-group color="primary" [(ngModel)]="pregunta6" name="pregunta6" aria-label="Select an option">
            <mat-radio-button value="V">Verdadero</mat-radio-button>
            <mat-radio-button value="F">Falso</mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="primary" (click)="verificar2()">Verificar</button>
    </form>

    <div *ngIf="verificacion2 == true" style="display: inline-block;">
        <mat-card class="inicial-container" >
            <div style="text-align: center;margin: 25px;height: 250px; display: grid;">
                <div style=" margin-top: auto;margin-bottom: auto;">
                    <a [href]="pdf2" target="_blank">
                        <img src="./assets/icons/txt.png" class="icon-pdf">
                    </a>
                    <mat-card-subtitle>
                        Descarga el siguiente archivo.<br>
                        En esta etapa deberán analizar y corregir <b>“errores”</b> o <b>“alteraciones”</b> del código entregado para un óptimo funcionamiento.</mat-card-subtitle>
                    <mat-card-subtitle>
                        Al finalizar, registrar en este 
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCgjHaUrmC8VHl7L4YKobUlkmvQgD-IEICSeVjg_lnGM9Mcg/viewform?usp=sf_link"> formulario. </a>
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngIf="verificacion1==false || verificacion2==false" style="display: inline-block;">
        <mat-card class="inicial-container" >
            <div style="text-align: center; margin: 25px;">
                <mat-label class="label">Chan, respuesta incorrecta volvé a intentar, la página se recargará en 10 seg.</mat-label><br>
                
                <img [src]="error_gif" width="450" style="margin: 25px;">
            </div>
        </mat-card>
        
    </div>

</div>